* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-family: sans-serif;
}

#root {
	display: flex;
	justify-content: center;
}

.App {
	width: 100vw;
}

._page {
	width: 800px;
	padding: 30px 0;
	margin: 0 auto;
}

.error-block {
	padding: 15px;
	border: 1px solid #c42c2c;
	color: #e90000;
	background-color: #ffc0c0;
}